.screen{
  visibility: hidden;
}

body{
  background-color: #F2F7FF;
}

#progress{
  position: absolute;
  width: 47%;
  height: 1.3%;
  left: 26.5%;
  top: 4.7%;

  background: #F9F9F9;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.img{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#imgBackround1{
  position: absolute;
  top:0;
  left:0;

}

#imgBackround2{
  position: absolute;
  top:0;
  left:0;

}

#imgShield{
  position: absolute;
  width: 7.1%;
  height: 18.1%;
  left: 91%;
  top: 5%;
}

.header{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #5E5E5E;
}

#question{
  position: absolute;
  width:  31%;
  height: 11%;
  left: 9%;
  top: 33%;
}

#command{
  position: absolute;
  width: 22%;
  height: 11%;
  left: 11%;
  top: 20%;
}

#fact{
  position: absolute;
  width: 18.6%;
  height: 9.5%;
  left: 14%;
  top: 42%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #5D5D5D;
}

#generate{
  left: 14%;
  top: 53%;
}

#keytextcontainer{
  position: absolute;
  width: 821px;
  height: 312px;
  left: 11%;
  top: 381px;

  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

#keytext{
  position: absolute;
  width: 30%;
  height: 25%;
  left: 11%;
  top: 35%;

  padding: 10px 20px 10px 20px;


  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #5D5D5D;
}

#keytext li{
  display: inline;
  list-style-type: none;
}

.button{
  position: absolute;
  width: 190px;
  height: 61px;
  background: #51ACF6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 97px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

#back{
  left: 20%;
  top: 746px;
}


#next{
  left: 911px;
  top: 746px;
}

#favnumbcont{
  position: absolute;
  width: 154px;
  height: 64px;
  left: 614px;
  top: 515px;

  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

#favnumb{
  position: absolute;
  width: 74px;
  height: 17px;
  left: 654px;
  top: 538px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

color: #5D5D5D;
}

#slider{
  position: absolute;
  width: 821px;
  height: 20px;
  left: 11%;
  top: 461px;

  background: #F9F9F9;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 47px;
}

#line{
  position: absolute;
  width: 467px;
  height: 8px;
  left: 289px;
  top: 467px;

  background: #589AFF;
  border-radius: 11px;
}

#circle{
  position: absolute;
  width: 27px;
  height: 27px;
  left: 742px;
  top: 458px;
  border-radius: 50%;

  background: #589AFF;
}

#lcircle{
  position: absolute;
  width: 13px;
  height: 13px;
  left: 749px;
  top: 465px;
  border-radius: 50%;
  background: #FFFFFF;
}

#emoji{
  position: absolute;
width: 866px;
height: 63px;
left: 261px;
top: 488px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 75px;
text-align: center;

color: #000000;
}

#genpass{
  position: absolute;
width: 485px;
height: 23px;
left: 11%;
top: 266px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #5E5E5E;
}

#passcontainer{
  position: absolute;
width: 397px;
height: 60px;
left: 257px;
top: 311px;

background: #FFFFFF;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 34px;
}

#pass{
  position: absolute;
width: 485px;
height: 23px;
left: 11%;
top: 330px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #5E5E5E;
}

#copy
{
  position: absolute;
  width: 42px;
  height: 42px;
  left: 665px;
  top: 320px;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#passtext1{
  position: absolute;
  width: 279px;
  height: 39px;
  left: 11%;
  top: 398px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #5D5D5D;
}

#passtext2{
  position: absolute;
  width: 250px;
  height: 141px;
  left: 316px;
  top: 437px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #5D5D5D;
}

#passtext3{
  position: absolute;
  width: 279px;
  height: 184px;
  left: 591px;
  top: 437px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #5D5D5D;
}

#c1{
  position: absolute;
  width: 9px;
  height: 9px;
  left: 299px;
  top: 443px;
  border-radius: 50%;
  background: #51ACF6;
}

#c2{
  position: absolute;
  width: 9px;
  height: 9px;
  left: 299px;
  top: 487px;
  border-radius: 50%;
  background: #51ACF6;
}

#c3{
  position: absolute;
  width: 9px;
  height: 9px;
  left: 299px;
  top: 530px;
  border-radius: 50%;
  background: #51ACF6;
}
