.screen{
  visibility: hidden;
}

body, html{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #F2F7FF;
}

#mainSlider{
  width: 500vw;
  height: 100vh;
  transition:all 2.0s ease-in-out;
  }

.steps{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  float:left;
}

#progresscontainer{
  display: none;
  position: fixed;
  width: 50%;
  height: 3.8%;
  left: 25%;
  top: 6%;

}

#progressthick{
  position: absolute;
  width: 99%;
  height: 40%;
  left: 0.5%;
  top: 30%;
  background: #F9F9F9;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#progressthin{
  position: absolute;
  width: 0%;
  height: 25%;
  left: 0.5%;
  top: 37.5%;
  background: #589AFF;
  transition: width 1s;
}

.circle{
  position: absolute;
  margin: 0;
}

#circle1{
  left: -2%;
}

#circle2{
  left: 33.3%;
}

#circle3{
  left: 66.6%;
}

#circle4{
  left: 98%;
}

.bigcircle{
  position: absolute;
  width: 47px;
  height: 47px;
  background: #F9F9F9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  left: 0%;
  top: 0%;
}

.smallercircle{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #589AFF;
}

.smallestcircle{
  position: absolute;
  width: 13px;
  height: 13px;
  left: 7px;
  top: 7px;
  border-radius: 50%;
  background: #FFFFFF;

}

.img{
  width: 100vw;
  height: 100vh;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#imgBackround1{
  position: absolute;
  top:0;
  left:0;

}

#imgBackround2{
  display: none;
  position: absolute;
  top:0;
  left:0;

}

#imgShield{
  position: fixed;
  width: 7.1%;
  height: 18.1%;
  right: 0;
  top: -1%;
}

.header{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 56px;
  color: #5E5E5E;
}

#question{
  position: relative;
  width:  31%;
  height: 11%;
  left: 9%;
  top: 32%;
}

#command{
  position: relative;
  width: 31%;
  height: 8%;
  left: 21.5%;
  top: 20%;
}

#congrats{
  position: relative;
  width: 31%;
  height: 8%;
  left: 11%;
  top: 22%;
}

#fact{
  position: relative;
  width: 33%;
  height: 8.3%;
  left: 9%;
  top: 35%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 28px;

  color: #5D5D5D;
}

#generate{
  left: 9vw;
  top: 59vh;
}

#keytextcontainer{
  position: relative;
  width: 40%;
  height: 30.5%;
  left: 30%;
  top: 23%;

  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

#keytext{
  position: relative;
  width: 96%;
  height: 96%;
  left: 1%;
  cursor:pointer;
  padding: 10px 20px 10px 20px;


  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 28px;

  color: #5D5D5D;
}

#keytext li{
  display: inline;
  list-style-type: none;
}

.button{
  position: absolute;
  width: 190px;
  height: 61px;
  background: #51ACF6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 97px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 21px;
  text-align: center;
  outline: none;
  color: #FFFFFF;
  cursor: pointer;
}

#back{
  display: none;
  left: 29%;
  top: 70%;
}


#next{
  display: none;
  left: 64%;
  top: 70%;
}

#favnumbcont{
  position: relative;
  width: 154px;
  height: 64px;
  left: 33%;
  top: 40%;

  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

#favnumb{
  position: relative;
  width: 74px;
  height: 17px;
  left: 40px;
  top: 21px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 21px;
  text-align: center;

color: #5D5D5D;
}

#slider{
  position: relative;
  width: 42vw;
  height: 30px;
  left: 29vw;
  top: 33vh;

  background: #F9F9F9;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 47px;
}

#sliderBar {
  position: relative;
  top: 6px;
  left: 1%;
  width: 41vw;
  height: 15px;
  -webkit-appearance: none;
  border-radius: 5px;
  background: #589AFF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#sliderBar::-moz-focus-outer {
  border: 0;
}

#sliderBar:hover {
  opacity: 1;
}

#sliderBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 8px solid #589AFF;
  background: #ffffff;
  cursor: pointer;
}

#sliderBar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: 8px solid #589AFF;
}


.emoji{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 75px;
  float: left;
  transition: font-size 0.3s;
  cursor: pointer;


  color: #000000;
}

.emoji:hover{
  font-size: 100px;
}

.emoji:active{
  font-size: 100px;
}

#emotes {
  position: relative;
  top: 400px;
  left: 30%;
}

#genpass{
  position: relative;
  width: 485px;
  height: 23px;
  left: 11%;
  top: 27.5%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 21px;

  color: #5E5E5E;
}

#passcontainer{
  position: relative;
  width: 397px;
  height: 60px;
  left: 257px;
  top: 30.5%;

  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

#pass{
  position: relative;
  width: 485px;
  height: 23px;
  left: 11%;
  top: 32.1%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 21px;
  color: #5E5E5E;
}

#copy
{
  position: relative;
  width: 42px;
  height: 42px;
  left: 665px;
  top: 320px;
  cursor: pointer;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#passtext1{
  position: relative;
  width: 279px;
  height: 39px;
  left: 11%;
  top: 36.5%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 21px;

  color: #5D5D5D;
}

#passtext2{
  position: relative;
  width: 250px;
  height: 141px;
  left: 316px;
  top: 39%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 21px;
  color: #5D5D5D;
}

#passtext3{
  position: relative;
  width: 279px;
  height: 184px;
  left: 591px;
  top: 39%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 21px;
  color: #5D5D5D;
}

#c1{
  position: relative;
  width: 9px;
  height: 9px;
  left: 299px;
  top: 40%;
  border-radius: 50%;
  background: #51ACF6;
}

#c2{
  position: relative;
  width: 9px;
  height: 9px;
  left: 299px;
  top: 45%;
  border-radius: 50%;
  background: #51ACF6;
}

#c3{
  position: relative;
  width: 9px;
  height: 9px;
  left: 299px;
  top: 50%;
  border-radius: 50%;
  background: #51ACF6;
}
